.site-nav .link {
  text-transform: none;
}
.site-nav {
  list-style: none;
}
.body {
  font-family: 'Raleway', sans-serif;
  }

.titlet {
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.text {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
}
.containertop {
width: 1600px;
height: 80px;
background: white
}
.webestudio {
  /* Estudio Web */


position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */

text-align: right;
letter-spacing: 0.03em;

color: #2196F3;
}
.estudio {
/* Estudio */


position: absolute;
width: 49px;
height: 16px;
left: 453px;
top: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #2196F3;
}
.portafolio {
/* Portafolio */


position: absolute;
width: 65px;
height: 16px;
left: 552px;
top: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;
}
.contactos{
  /* Сontactos */


position: absolute;
width: 67px;
height: 16px;
left: 667px;
top: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;
}
.infodevstudio {
  /* info@devstudio.com */


position: absolute;
width: 135px;
height: 16px;
left: 1078px;
top: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #2196F3;
}
.tel {
  /* +52 55 5529 6000 */


position: absolute;
width: 118px;
height: 16px;
left: 1263px;
top: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;
}
.containertop2 {

  /* Bg */


position: absolute;
width: 1600px;
height: 600px;
left: -4px;
top: 80px;

background: #2F303A;
}
.soluciones {
/* SOLUCIONES EFICACES PARA SU NEGOCIO */


position: absolute;
width: 696px;
height: 120px;
left: 448px;
top: 280px;

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
/* or 136% */

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;
}
.solicite {
  /* Solicite nuestro servicio */


width: 197px;
height: 30px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
  /* Frame 1 */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 32px;
gap: 10px;

position: absolute;
width: 261px;
height: 50px;
left: 666px;
top: 430px;

background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
.containertop3{
  background: white;
  width: 1600px;
}
.puntualidad {
  /* PUNTUALIDAD */


position: absolute;
width: 270px;
height: 16px;
left: 515px;
top: 775px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.puntualidadcontenido {
  /* Con nosotros, usted puede sentirse seguro y protegido. Un principio importante de la empresa: respetar su tiempo y respetar los plazos acordados. */


position: absolute;
width: 270px;
height: 96px;
left: 515px;
top: 820px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;
color: #757575;
}
.planificacion {
  /* PLANIFICACIÓN */


position: absolute;
width: 270px;
height: 16px;
left: 815px;
top: 775px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
}
.planificacioncontenido{
  /* Usted podrá observar y participar en cada fase del desarrollo y aplicación de soluciones. */


position: absolute;
width: 270px;
height: 75px;
left: 815px;
top: 820px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;
}
.atencion {
  /* ATENCIÓN A LOS DETALLES */


position: absolute;
width: 270px;
height: 16px;
left: 215px;
top: 775px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
}
.atencioncontenido {
  /* Nos adentramos en todos los detalles y procesos de su negocio, para así desarrollar una solución a su medida. */


position: absolute;
width: 270px;
height: 75px;
left: 215px;
top: 820px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;
}
.tecnologia{
/* TEGNOLOGÍA MODERNA */


position: absolute;
width: 270px;
height: 16px;
left: 1115px;
top: 775px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
}
.tecnologiacontenido{
/* Usamos herramientas innovadoras para resolver las tareas asignadas. Es hora de simplificar los procesos laborales. */


position: absolute;
width: 270px;
height: 75px;
left: 1115px;
top: 820px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;
}
.aque{
  /* A qué nos dedicamos */


position: absolute;
width: 371.15px;
height: 46.24px;
left: 619.43px;
top: 991px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
.img1{
/* imagen */


position: absolute;
width: 373.16px;
height: 323.7px;
left: 215px;
top: 1092.3px;

background: url(.jpg);
mix-blend-mode: normal;

}
.img2{
  * imagen */
  position: absolute;
  width: 373.16px;
  height: 323.7px;
  left: 618.42px;
  top: 1092.3px;
  
  background: url(.jpg);
}
.img3{
/* imagen */


position: absolute;
width: 373.16px;
height: 323.7px;
left: 1015px;
top: 1092.3px;

background: url(.jpg);
}
.containerbotton {
  /* Sección bg */


position: absolute;
width: 1600px;
height: 648px;
left: 0px;
top: 1510px;

background: #F5F4FA;
}
.nuestro {
  /* Nuestro Equipo */


position: absolute;
width: 263px;
height: 42px;
left: 669px;
top: 1604px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
